<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main>
      <div class="form-wrapper">
        <nav class="navigation" style="margin-bottom: 1.5rem">
          <ul class="navigation__list">
            <% menuLinks.forEach(link => { %>
            <li class="navigation__item">
              <a
                href="<%= link.path %>"
                class="navigation__link <%= activeLinkPath === link.path ? 'active' : '' %>"
              >
                <%= link.label %>
              </a>
            </li>
            <% }); %>
          </ul>
        </nav>

        <h1 class="heading">Logout</h1>

        <p class="message">Are you sure you want to exit the application?</p>

        <a href="/kill" class="button button--danger" style="width: 100%"
          >Logout from application</a
        >
      </div>
    </main>
  </body>
</html>
